html { background-color: #000; } 

body {
    min-height: 10vw;
    max-width: 5000px;
    background-color: papayawhip; 
    margin: 0 auto;
}

#titulo h1{
  color: #ffffff; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px;
}

.header {
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 25px;
    background: #FF8E9E;
    background: -moz-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
    background: -webkit-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
    background: -moz-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
  }

  h1{
    color: #000000; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px;
  }

  nav {
    background: #FF8E9E;
    background: -moz-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
    background: -webkit-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
    background: -moz-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  a {
    display: block;
    position: relative;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 76px;
    text-decoration: none;
  }
  
  a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
  }
  
  #menu a:hover::after {
    width: 100%;
  }

.cuadrito{
      width: 100%; /* puedes ajustar el ancho a tus necesidades */
			height: 500px; /* puedes ajustar la altura a tus necesidades */
			overflow: hidden; /* para ocultar cualquier parte de la imagen que sobresalga del contenedor */
			display: flex;
			justify-content: center;
			align-items: center;
}

.cuadrito img{
  width: 100%;
  height:auto;
  object-fit: cover;
}

.izq{
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.der{
  position: absolute;
  top: 35%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.izq h2{
  font-size: 60;
  color: #ffffff;
}

.der h2{
  font-size: 60;
  color: #ffffff;
}

.izq-a{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.der-a{
  position: absolute;
  top: 55%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.rect{
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.rect a{
  color: #F9B5D0;
  top: 15%;
  left: 40%;
}