html { background-color: #000; } 

body {
    min-height: 90vw;
    max-width: 5000px;
    background-color: papayawhip; 
    margin: 0 auto;
}

#titulo h1{
  color: #ffffff; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px;
}

.header {
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 25px;
    background: #FF8E9E;
    background: -moz-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
    background: -webkit-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
    background: -moz-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
  }

  h1{
    color: #000000; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px;
  }

  nav {
    background: #FF8E9E;
    background: -moz-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
    background: -webkit-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
    background: -moz-linear-gradient(left, #FF8E9E 0%, #F9B5D0 100%);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  a {
    display: block;
    position: relative;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 76px;
    text-decoration: none;
  }
  
  a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
  }
  
  #menu a:hover::after {
    width: 100%;
  }

.cuadrito{
  margin: 50PX;
  padding: 10px;
  background-color: rgba(193, 202, 214, .3);
  width: 1730px;
  height: 1325px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
}

.cuadrito img{
  width:"1730";
  height:"600";
  object-fit: cover;
  border-radius: 20px;
  opacity: .75;
}


.centrado{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centrado h2{
  font-size: 100;
  color: #ffffff;
}

.centrar a{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}